# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# general folders
bin/
gen/

# proguard
.gradle/
.settings/
.idea/

.apt_generated/
project.properties

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log